 <!--=================================
    Header -->
    <header class="header default header-sticky" style="background-color: #00796B;">
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-flex justify-content-center justify-content-lg-start">
              <a routerLink="#">Check your rankings anytime anywhere</a>
            </div>
            <div class="col-lg-6 d-sm-flex justify-content-center justify-content-lg-end">
              <ul class="list-unstyled d-flex justify-content-center mb-0 mr-sm-5">
                <li class="mr-4"><a routerLink="/career"><i class="fas fa-briefcase mr-2"></i>Career</a></li>
                <li><a routerLink="terms-condition">Terms & Conditions</a></li>
              </ul>
              <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li class="mr-3"><a routerLink="#"><i class="fab fa-facebook-f"></i></a></li>
                <li class="mr-3"><a routerLink="#"><i class="fab fa-instagram"></i></a></li>
                <li class="mr-3"><a routerLink="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="mr-3"><a routerLink="#"><i class="fab fa-twitter"></i></a></li>
                <li class="mr-sm-3"><a routerLink="#"><i class="fab fa-dropbox"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-8 col-lg-3 col-xl-5">
              <a class="navbar-brand" routerLink="/home">
                <img class="img-fluid" src="../../../assets/images/logo.svg" alt="logo">
              </a>
            </div>
            <div class="col-4 col-lg-9 col-xl-7">
              <div class="navbar-expand-lg text-right text-lg-left p-0">
                <button type="button" class="navbar-toggler pr-0" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
                <div class="d-none d-lg-block">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="main-contact text-white">
                        <i class="fas fa-map-marked-alt"></i>
                        <div class="main-contact-info">
                          <h6 class="text-white">Fairground St.</h6>
                          <small>North Bergen, NJ</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="main-contact text-white">
                        <i class="fas fa-phone-volume"></i>
                        <div class="main-contact-info">
                          <h6 class="text-white">0011 234 56789</h6>
                          <small>Mon-Fri 8:30am-6:30pm</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="main-contact text-white">
                        <i class="fas fa-envelope"></i>
                        <div class="main-contact-info">
                          <h6 class="text-white">Info@example.com</h6>
                          <small>24 X 7 online support</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="header-bottom">
          <div class="row">
            <div class="col-lg-9">
              <nav class="navbar navbar-static-top navbar-expand-lg">
                <div class="container-fluid position-relative px-0">
                  <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" routerLink="/home">Home</a>
                      </li>
                        <li>
                        <a class="nav-link" routerLink="/about">About us</a>
                        </li>
                      <li class="dropdown nav-item">
                        <a class="nav-link" routerLink="javascript:void(0)" data-toggle="dropdown">Service<i class="fas fa-chevron-down fa-xs"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" routerLink="/service-list"><span>Service list</span></a></li>
                          <li><a class="dropdown-item" routerLink="/air-freight"><span>Air Freight</span></a></li>
                          <li><a class="dropdown-item" routerLink="/ocean-freight"><span>Ocean Freight</span></a></li>
                          <li><a class="dropdown-item" routerLink="/import-export"><span>Export & Import</span></a></li>
                          <li><a class="dropdown-item" routerLink="/road-freight"><span>Road Freight</span></a></li>
                          <li><a class="dropdown-item" routerLink="/transportation"><span>Transportation</span></a></li>
                          <li><a class="dropdown-item" routerLink="/forwarding"><span>Forwarding</span></a></li>
                          <li><a class="dropdown-item" routerLink="/service-detail"><span>Service detail</span></a></li>
                        </ul>
                      </li>
                      
                      <li><a class="nav-link" routerLink="/contact">Contact us</a></li>

                      <li><a class="nav-link" routerLink="/booking">Booking</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
            <div class="col-lg-3 d-none d-lg-block text-right">
              <a class="btn btn-primary" routerLink="/request-a-quote">Request a quote</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--=================================
    Header -->
