    <!--=================================
    Inner Header -->

    <section class="inner-header bg-holder bg-overlay-dark-40" style="background-image: url('../../../../assets/images/bg/03.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="inner-title text-white mb-3">Forwarding</h1>
            <p class="inner-subtitle text-white">For those of you who are serious about having more, doing more, giving more and being more, success is achievable.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="py-2 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb bg-transparent mb-0">
              <li class="breadcrumb-item"><a routerLink="/home"><i class="fas fa-home mr-1"></i>Home</a></li>
              <li class="breadcrumb-item active"><span>Forwarding</span></li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!--=================================
    Inner Header -->

    <!--=================================
    services Detail -->
    <section class="space-ptb">
      <div class="container">
       <div class="row">
        <div class="col-md-5 col-xl-4 mb-4 mb-md-0">
           <ul class="list-unstyled vertical-menu border p-3">
            <li><a routerLink="/air-freight"><span>Air Freight</span><i class="fas fa-long-arrow-alt-right"></i></a></li>
            <li><a routerLink="/ocean-freight"><span>Ocean Freight</span><i class="fas fa-long-arrow-alt-right"></i></a></li>
            <li><a routerLink="/import-export"><span>Export & Import</span><i class="fas fa-long-arrow-alt-right"></i></a></li>
            <li><a routerLink="/road-freight"><span>Road Freight</span><i class="fas fa-long-arrow-alt-right"></i></a></li>
            <li><a routerLink="/transportation"><span>Transportation</span><i class="fas fa-long-arrow-alt-right"></i></a></li>
            <li><a class="active" routerLink="/forwarding"><span>Forwarding</span><i class="fas fa-long-arrow-alt-right"></i></a></li>
          </ul>
          <div class="bg-primary text-center contact-info-style-01 bg-holder bg-contain mt-5" style="background-image: url(../../../../assets/images/bg/02.png);">
            <img class="img-fluid" src="../../../../assets/images/logo-dark.svg" alt="logo">
            <h6 class="text-white">17504 Carlton Cuevas Rd, Gulfport, MS, 39503</h6>
            <h2 class="text-white">+(704) 279-1249</h2>
            <p class="lead text-white">letstalk@transpo.com</p>
            <a class="btn btn-white" routerLink="#">Get directions on the map</a>
          </div>
         <div class="p-3 border mt-5">
            <a class="btn btn-light btn-block text-left mb-2" routerLink="#">Download Bucherer.pdf<i class="far fa-file-pdf float-right"></i></a>
            <a class="btn btn-light btn-block text-left mb-2" routerLink="#">Download Bucherer.doc<i class="far fa-file-word float-right"></i></a>
            <a class="btn btn-light btn-block text-left" routerLink="#">Download Bucherer.zip<i class="far fa-file-archive float-right"></i></a>
          </div>
        </div>
        <div class="col-md-7 col-xl-8">
         <div class="services-detail">
           <img class="img-fluid" src="../../../../assets/images/service/16.jpg" alt="">
           <h3 class="mt-4 mt-md-5">Advanced Analytics</h3>
           <p class="mb-4 mb-md-5">The best way is to develop and follow a plan. Start with your goals in mind and then work backwards to develop the plan. What steps are required to get you to the goals? Make the plan as detailed as possible. Try to visualize and then plan for, every possible setback. Commit the plan to paper and then keep it with you at all times. Review it regularly and ensure that every step takes you closer to your Vision and Goals. If the plan doesn’t support the vision then change it!</p>
           <div class="d-flex bg-light p-4 p-sm-5 mb-md-5 mb-4">
            <i class="fa-6x mt-n3 opacity-1 flaticon-null quote-icon text-dark"></i>
            <h6 class="font-weight-normal mb-0 ml-n5 ml-sm-n4 text-body">I have gotten at least 50 times the value from consults. I will let my mum know about this, she could really make use of consults! Wow what great service, I love it! consults is the real deal!</h6>
          </div>
          <p>Write without stopping. 10 years from now, I plan to be living in a… at…. With…. Get really detailed about it. Why? Because you are hooking up the neural connections in your brain. You must improve upon, clarify and make clear just exactly who and what you are going to be doing, experiencing, living and having in 10 years. This is the first step of the process! Key: Notice how you felt excited and optimistic when you did this? The reason is simple.</p>
          <div class="row">
            <div class="col-md-6">
              <ul class="list mt-4 mb-5">
                <li><i class="fas fa-arrow-right"></i> Give yourself the power of responsibility </li>
                <li><i class="fas fa-arrow-right"></i> Do it today. Remind yourself of someone you know who died suddenly and the fact </li>
                <li><i class="fas fa-arrow-right"></i> Remind yourself the only thing </li>
                <li><i class="fas fa-arrow-right"></i> “What drives me? The thing that drives </li>
              </ul>
            </div>
             <div class="col-md-6">
            <ul class="list mt-4 mb-5">
              <li><i class="fas fa-arrow-right"></i> Clarity – developing the Vision </li>
              <li><i class="fas fa-arrow-right"></i> Commitment – understanding the price and having the willingness to pay that price </li>
              <li><i class="fas fa-arrow-right"></i> Belief – believing in yourself and those around you </li>
              <li><i class="fas fa-arrow-right"></i> Taking action – practice Ready, Fire, Aim </li>
            </ul>
          </div>
          </div>
           <div class="row mt-4 mt-md-5">
             <div class="col-md-12">
               <h3>Safety Transportation</h3>
             </div>
           </div>
           <div class="row mt-4">
             <div class="col-md-6">
              <img class="img-fluid" src="../../../../assets/images/service/11.jpg" alt="">
               <h4 class="mt-4">100% Comfort Guarantee</h4>
               <p>And it’s not just parents that are the cause – teachers, friends, clergy members or anyone else that has influence in a child’s life can be a contributor to these self-limiting beliefs.</p>
             </div>
             <div class="col-md-6">
              <img class="img-fluid" src="../../../../assets/images/service/12.jpg" alt="">
               <h4 class="mt-4">Shorter Than Container</h4>
               <p>So, there you have it; the six steps that will help you to the fabled land of achievement and success! You now have the opportunity to push ahead and reach your potential.</p>
             </div>
           </div>
           <div class="row mt-4">
             <div class="col-md-12">
              <h3 class="mb-4">Our Benefits</h3>
              <div class="accordion" id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="accordion-title mb-0">
                    <button class="btn btn-link d-flex ml-auto align-items-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Do How does it work? </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse show accordion-content" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <p>Motivation is not an accident or something that someone else can give you — you are the only one with the power to motivate you. Motivation cannot be an external force, it must come from within as the natural product of your desire to achieve something and your belief that you are capable to succeed at your goal. Success is something of which we all want more.</p>
                      <ul class="pl-3">
                        <li class="mb-2">Commitment is something that comes from understanding that!</li>
                        <li class="mb-2">Its price and then having the willingness to pay that price.</li>
                        <li class="mb-2">his is important because nobody wants to put significant.</li>
                        <li class="mb-2">Effort into something, only to find. </li>
                        <li class="mb-2">Out after the fact that the price was too high.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="accordion-title mb-0">
                    <button class="btn btn-link d-flex ml-auto align-items-center collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What if I’m not available at the requested time?
                    </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse accordion-content" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      <p>Motivation is not an accident or something that someone else can give you — you are the only one with the power to motivate you. Motivation cannot be an external force, it must come from within as the natural product of your desire to achieve something and your belief that you are capable to succeed at your goal. Success is something of which we all want more.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingthree">
                    <h5 class="accordion-title mb-0">
                    <button class="btn btn-link d-flex ml-auto align-items-center collapsed" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                    What if the listing isn’t available?
                    </button>
                    </h5>
                  </div>
                  <div id="collapsethree" class="collapse accordion-content" aria-labelledby="headingthree" data-parent="#accordion">
                    <div class="card-body">
                      <p>The first thing to remember about success is that it is a process – nothing more, nothing less. There is really no magic to it and it’s not reserved only for a select few people. As such, success really has nothing to do with luck, coincidence or fate. It really comes down to understanding the steps in the process and then executing on those steps.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingfour">
                    <h5 class="accordion-title mb-0">
                    <button class="btn btn-link d-flex ml-auto align-items-center collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    How do I ensure my safety on a tour?
                    </button>
                    </h5>
                  </div>
                  <div id="collapsefour" class="collapse accordion-content" aria-labelledby="headingfour" data-parent="#accordion">
                    <div class="card-body">
                      <p>Motivation is not an accident or something that someone else can give you — you are the only one with the power to motivate you. Motivation cannot be an external force, it must come from within as the natural product of your desire to achieve something and your belief that you are capable to succeed at your goal. Success is something of which we all want more.</p>
                      <ul class="pl-3">
                        <li class="mb-2">Commitment is something that comes from understanding that!</li>
                        <li class="mb-2">Its price and then having the willingness to pay that price.</li>
                        <li class="mb-2">his is important because nobody wants to put significant.</li>
                        <li class="mb-2">Effort into something, only to find. </li>
                        <li class="mb-2">Out after the fact that the price was too high.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
             </div>
           </div>
         </div>
        </div>
       </div>
      </div>
    </section>
    <!--=================================
    services Detail -->

    <!--=================================
    client -->
    <section class="space-sm-pb our-clients">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <div class="owl-carousel owl-nav-center" data-animateOut="fadeOut" data-nav-dots="false" data-items="6" data-md-items="5" data-sm-items="4" data-xs-items="3" data-xx-items="2" data-space="50">
              <div class="item">
                <img class="img-fluid" src="../../../../assets/images/client/01.svg" alt="">
              </div>
               <div class="item">
                <img class="img-fluid" src="../../../../assets/images/client/02.svg" alt="">
              </div>
              <div class="item">
                <img class="img-fluid" src="../../../../assets/images/client/03.svg" alt="">
              </div>
              <div class="item">
                <img class="img-fluid" src="../../../../assets/images/client/04.svg" alt="">
              </div>
              <div class="item">
                <img class="img-fluid" src="../../../../assets/images/client/05.svg" alt="">
              </div>
              <div class="item">
                <img class="img-fluid" src="../../../../assets/images/client/06.svg" alt="">
              </div>
              <div class="item">
                <img class="img-fluid" src="../../../../assets/images/client/07.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    client -->
