<!-- footer area -->
<hr>
<footer class="footer-area">
    <div class="footer-widget">
        <div class="container">
            <div class="row footer-widget-wrapper pt-100 pb-70">
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget-box about-us">
                       

                                    <div class="d-flex flex-column ml-3">
                                        <div class="d-flex h4 no-underline" style="color: #FFA000;">
                                            SWIFTCART LOGISTICS & SUPPLY
                                        </div>

                                    </div>
                        <p class="mb-20">
                            Seamless Moving. Reliable Supply. One Swift Solution.
                            At SwiftCart Logistics & Supply, we combine expert relocation services with top-tier
                            provisioning to make life in Lagos easier. Trust us to handle the heavy lifting—so you can
                            focus on what matters most.


                        </p>

                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box">
                        <h4 class="footer-widget-title" style="color: #FFA000;">Contact Us</h4>
                        <ul class="footer-contact">
                            <li><i class="fas fa-map-marker-alt"></i>LAGOS</li>
                            <li><a routerLink="tel:+23409049283653"><i class="fas fa-phone"></i>0904 928 3653</a></li>
                            <li><a routerLink="mailto:info@morrhtechsolutions.com"><i
                                        class="far fa-envelope"></i>info&#64;swiftcartlogistics.com</a>
                            </li>
                            <li><i class="far fa-clock"></i>Mon - Sun (24/7)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title" style="color: #FFA000">Quick Links</h4>
                        <ul class="footer-list">
                            <li><a routerLink="/about"><i class="fas fa-caret-right"></i> About Us</a></li>
                            <li><a routerLink="/services"><i class="fas fa-caret-right"></i> Services</a></li>
                            <!-- <li><a routerLink="training-programs"><i class="fas fa-caret-right"></i> Training Programs</a></li> -->
                            <li><a routerLink="/contact"><i class="fas fa-caret-right"></i> Contact Us</a></li>
                            <!-- <li><a routerLink="careers"><i class="fas fa-caret-right"></i> Careers</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title" style="color: #FFA000">Social Media</h4>
                        <div class="footer-newsletter">
                            <p>Follow us on social media for updates, insights, and the latest in tech!</p>
                            <ul class="footer-social">
                                <li><a routerLink="https://web.facebook.com/Morrhtech" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink="https://www.instagram.com/morrhtech_solutions_?igsh=NjJtZGIzdzhxOTRj&utm_source=qr"
                                        target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a routerLink="https://www.tiktok.com/@morrhtech_solutions_?_t=ZM-8t3mUyQ4Mk9&_r=1"
                                        target="_blank"><i class="fab fa-tiktok"></i></a></li>
                                <li><a routerLink="https://wa.me/2349049283653" target="_blank"><i
                                            class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #FFFFFF ; height: 3px;">
        <hr>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-self-center">
                    <p class="copyright-text">
                        &copy; 2025 <span id="date"></span> <a routerLink="">SwiftCart Logistics & Supply</a>. All
                        Rights Reserved
                    </p>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->